body{
  margin:0;
  background:radial-gradient(circle at top,#1e293b,#020617 75%);
  font-family:Poppins,system-ui;
  color:#fff;
  display:flex;
  flex-direction:column;
  align-items:center;
}

h1{margin:20px}
h2{color:#22d3ee}

section{
  width:95%;
  max-width:1100px;
  background:#020617;
  border-radius:20px;
  padding:16px;
  margin-bottom:12px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:10px;
}

input,select,button{
  padding:10px;
  border-radius:12px;
  border:none;
}

button{
  background:linear-gradient(135deg,#22d3ee,#6366f1);
  font-weight:600;
  cursor:pointer;
}

#playerCount{
  margin-top:8px;
  color:#38bdf8;
}

.board{
  display:flex;
  justify-content:space-around;
  align-items:flex-end;
}

.tower{
  width:30%;
  height:300px;
  position:relative;
  display:flex;
  flex-direction:column-reverse;
  align-items:center;
  padding-bottom:30px;
}

.tower.target{
  box-shadow:0 0 45px gold;
  border-radius:20px;
}

.target-label{
  position:absolute;
  top:-18px;
  color:gold;
}

.rod{
  position:absolute;
  bottom:30px;
  width:12px;
  height:200px;
  background:linear-gradient(#e5e7eb,#475569);
  border-radius:10px;
}

.base{
  position:absolute;
  bottom:30px;
  width:90%;
  height:12px;
  background:#475569;
  border-radius:10px;
}

.disk{
  height:24px;
  margin:6px 0;
  border-radius:40px;
  font-weight:700;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#020617;
  z-index:2;
  box-shadow:
    inset 0 2px 4px rgba(255,255,255,.3),
    inset 0 -6px 8px rgba(0,0,0,.5),
    0 12px 25px rgba(0,0,0,.6);
}

.chat{display:none}

.chat-box{
  height:150px;
  overflow:auto;
  border:1px solid #334155;
  border-radius:10px;
  padding:6px;
}

.chat-input{
  display:flex;
  gap:6px;
}

.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.7);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:#020617;
  padding:30px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 0 60px gold;
}

.modal-actions{
  display:flex;
  gap:12px;
  justify-content:center;
  margin-top:12px;
}

button.exit{
  background:linear-gradient(135deg,#ef4444,#b91c1c);
}
